<div class="gallery-scroll">
	<div class="gallery-wrapper">
		<div ng-repeat="($index,gallery) in avatarList track by $index" class="gallery-image-wrapper" ng-click="highlightAvatar($index)">
			<img ng-src="http://localhost:8080/forum/{{gallery.value}}" class="avatar-gallery-image" ng-class="{'selected' : $index === selectedIndex}"/>
		</div>
		
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="gallery-image-carousel">
      		<div uib-slide ng-repeat="($index,gallery) in avatarList track by $index" index="$index">
        		<img ng-src="http://localhost:8080/forum/{{gallery.value}}">
      		</div>
    	</div>
	</div>
</div>