<div ng-controller="RegistrationCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title"><i class="fas fa-users-cog"></i>User Registration</div>
			</div>
		</div>
		<div class="section-body">
			<div class="row">
				<div class="reg-success col-xs-12 col-lg-4" ng-if="vm.complete === true">
					Registration complete, please check your email for an activation link. You will be redirected to the home page in 5 seconds...
				</div>
			    <div class="col-xs-12 col-lg-4" ng-if="vm.complete === false">
					<form>
					  <div class="form-group">
					    <label for="username">Username</label>
					    <input ng-model="vm.user.loginName" type="text" class="form-control" id="username">
					  </div>
					  <div class="form-group">
					    <label for="displayname">Display Name</label>
					    <input ng-model="vm.user.displayName" type="text" class="form-control" id="displayname">
					  </div>
					  <div class="form-group">
					    <label for="pwd">Password:</label>
					    <input ng-model="vm.user.userSecurityInfo.newPassword" type="password" class="form-control" id="pwd">
					  </div>
					  <div class="form-group">
					    <label for="email">Email Address</label>
					    <input ng-model="vm.user.userContactInfo.email.emailAddress" type="text" class="form-control" id="email">
					  </div>
					  <div class="form-group">
					  	<label>PM Key</label>
					  	<input ng-model="vm.userPmKey" type="text" class="form-control"/>
					  </div>
					  <div class="form-group">
					    <label for="birthdate">Birthdate</label>
					 	<div class="datepicker"
					 	     date-format="MM/dd/yyyy">
					    	<input ng-model="vm.user.personalInfo.birthDateAsString" type="text" class="form-control" id="birthdate">
					  	</div>
					  </div>
					  <div class="form-group">
					    <label for="timezone">Timezone</label>
					    <select ng-model="vm.user.timeOffset" ng-options="timezone.id as timezone.value for timezone in vm.lookups.TIMEZONE" class="form-control" id="timezone">
					    </select>
					  </div>
					  <div class="form-group checkbox">
					    <label><input ng-model="vm.user.agreeToTermsFlag" type="checkbox">I agree to the terms and am 13 years of age or older</label>
					  </div>
					  <div vc-recaptcha key="vm.pubKey" class="form-group"></div>
					  <div class="form-group">
					  	<button ng-click="vm.newUser()" ng-disabled="!vm.registrationFieldsComplete()" type="button" class="btn btn-confirm">Submit</button>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
