<div ng-controller="UsersCtrl as vm">
	<div class="container">
		<div class="row">
		    <div class="col-md-4">
				<form>
				  <div class="form-group">
				    <label for="username">Username</label>
				    <input type="text" class="form-control" id="username">
				  </div>
				  <div class="form-group">
				    <label for="displayname">Display Name</label>
				    <input type="text" class="form-control" id="displayname">
				  </div>
				  <div class="form-group">
				    <label for="pwd">Password:</label>
				    <input type="password" class="form-control" id="pwd">
				  </div>
				  <div class="form-group">
				    <label for="email">Email Address</label>
				    <input type="text" class="form-control" id="email">
				  </div>
				  <div class="form-group">
				    <label for="birthdate">Birthdate</label>
				 	<div class="datepicker"
				 	     date-format="MM/dd/yyyy">
				    	<input type="text" class="form-control" id="birthdate">
				  	</div>
				  </div>
				  <div class="form-group">
				    <label for="language">Language</label>
				    <select class="form-control" id="language">
				    	<option ng-repeat="languageOption in vm.lookups.LANGUAGE" value="languageOption.id">{{languageOption.value}}</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="timezone">Timezone</label>
				    <select ng-options="timezone as timezone.value for timezone in vm.lookups.TIMEZONE track by timezone.id" ng-model="vm.usertimezone" class="form-control" id="timezone">
				    </select>
				  </div>
				  <div class="checkbox">
				    <label><input type="checkbox">I agree to the terms and am 13 years of age or older checkbox</label>
				  </div>
				  <button type="button" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
