<form>
	<div class="message-text-area">
		<div class="col-xs-12">
			<button class="btn btn-def btn-editor" uib-tooltip="Bold" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.bold)">B</button>
			<button class="btn btn-def btn-editor" uib-tooltip="Italic" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.italic)">I</button>
			<button class="btn btn-def btn-editor" uib-tooltip="Underline" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.underline)">U</button>
			<button class="btn btn-def btn-editor" uib-tooltip="Strikethrough" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.strikethrough)">S</button>
			<span></span>
			<button class="btn btn-def btn-editor" uib-tooltip="Left Justify"><span class="fa fa-align-left"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Center"><span class="fa fa-align-center"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Right Justify"><span class="fa fa-align-right"></span></button>
			<span></span>
			<button class="btn btn-def btn-editor" uib-tooltip="Ordered List"><span class="fa fa-list-ol"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Unordered List"><span class="fa fa-list-ul"></span></button>
		</div>
		<div class="col-xs-12">
			<button class="btn btn-def btn-editor" uib-tooltip="Youtube Link"><span class="fab fa-youtube"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Email"><span class="fas fa-envelope"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Image"><span class="far fa-image"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Spoiler"><span class="fas fa-exclamation-triangle"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="Hyperlink"><span class="fas fa-globe"></span></button>
			<button class="btn btn-def btn-editor" uib-tooltip="FTP Link"><span class="far fa-file"></span></button>
		</div>
		<textarea ng-model="personalMessage.message" 
				  class="form-control" 
				  rows="10"
				  ng-focus="vm.getLastCursorPos()"
				  ng-change="vm.getLastCursorPos()"/>
	</div>
	<div class="message-buttons-wrapper">
		<button class="btn btn-confirm" ng-click="reply()">Send</button>
		<button class="btn btn-def" ng-click="toggleReplyBox()">Cancel</button>
	</div>
</form>