<form>
	<collapsible-widget widget-title="User Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>User Name</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" ng-model="vm.profile.loginName" class="form-control small-input" ng-disabled="!vm.isUserModerator()"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Display Name</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" ng-model="vm.profile.displayName" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">	
				<div class="col-xs-12 col-sm-4">
					<label>Date Registered</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<span class="datepicker" date-format="MM/dd/yyyy">
						<input type="text" ng-model="vm.profile.dateRegisteredAsString" class="form-control small-input" ng-disabled="!vm.isUserModerator()"/>
					</span>
				</div>
			</div>
			
			<div class="row padded-row">	
				<div class="col-xs-12 col-sm-4">
					<label>Primary Membergroup</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<select ng-disabled="!vm.isUserAdmin()"
					        ng-model="vm.profile.primaryMemberGroup.memberGroupId" 
					        ng-options="memberGroup.id as memberGroup.value for memberGroup in vm.lookups.MEMBER_GROUP" 
					        class="form-control small-input">
				    </select>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Secondary Membergroups</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					
					<div class="list-view-search dropdown-parent">
						<select ng-model="vm.selectedMemberGroup" 
								ng-disabled="!vm.isUserAdmin()"
								ng-change="vm.addMemberGroup()" 
								ng-options="group.id as group.value for group in vm.lookups.MEMBER_GROUP" 
								class="form-control small-input" 
								ng-class="{'top-input' : vm.profile.secondaryMemberGroups.memberGroups.length > 0}"></select>
					</div>
					<div class="list-view-wrapper" ng-class="{'hide' : vm.profile.secondaryMemberGroups.memberGroups.length === 0}">
						<div class="list-data" ng-repeat="($index,group) in vm.profile.secondaryMemberGroups.memberGroups track by $index">
							<div class="list-cell trash" ng-if="vm.isUserAdmin()">
								<i class="fas fa-trash" ng-click="vm.removeMemberGroup($index)"></i>
							</div>
							<div class="list-cell data">
								{{vm.getLkupValue(vm.lookups.MEMBER_GROUP, group.memberGroupId)}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Contact Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Email Address</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.email.emailAddress" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideEmailFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Facebook</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.facebook" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideFacebookFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Hangouts</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.gtalk" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideGtalkFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Skype</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.skype" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideSkypeFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Steam</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.steam" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideSteamFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>XBox Live</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.xboxLive" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideXboxLiveFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Playstation Network</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.psn" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hidePsnFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Nintendo Network ID</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.nnid" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4 checkbox-wrapper" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideNnidFlag" value="true" type="checkbox"/>
					<label>Hide</label>
				</span>
			</div>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Security Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>New password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.newPassword" type="password" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Confirm password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.confirmNewPassword" type="password" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Current password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.currentPassword" type="password" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 checkbox-wrapper">
					<input ng-model="vm.profile.userSecurityInfo.hideBirthDateFlag" value="true" type="checkbox"/>
					<label>Hide Birthdate</label>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 checkbox-wrapper">
					<input ng-model="vm.profile.userSecurityInfo.hideGenderFlag" value="true" type="checkbox"/>
					<label>Hide Gender</label>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<div class="col-xs-12 form-group">
		<button type="button" class="btn btn-save col-xs-12" ng-click="vm.saveAccountSettings()">Save</button>
	</div>
</form>

