<form>
	<collapsible-widget widget-title="User Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>User Name</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" ng-model="vm.profile.loginName" class="form-control small-input" ng-disabled="true"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Display Name</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" ng-model="vm.profile.displayName" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">	
				<div class="col-xs-12 col-sm-4">
					<label>Date Registered</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<span class="datepicker" date-format="MM/dd/yyyy">
						<input type="text" ng-model="vm.profile.dateRegisteredAsString" class="form-control small-input" ng-disabled="true"/>
					</span>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Birth Date</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<span class="datepicker" date-format="MM/dd/yyyy">
						<input type="text" ng-model="vm.profile.birthDateAsString" class="form-control small-input" ng-disabled="true"/>
					</span>
				</div>
			</div>
			
			<div class="row padded-row">	
				<div class="col-xs-12 col-sm-4">
					<label>Primary Membergroup</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<select ng-disabled="!vm.isUserAdmin()"
					        ng-model="vm.profile.primaryMemberGroupId" 
					        ng-options="memberGroup.id as memberGroup.value for memberGroup in vm.lookups.MEMBER_GROUP" 
					        class="form-control small-input">
				    </select>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Secondary Membergroups</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					Click to view
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Contact Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Email Address</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.email.emailAddress" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideEmailFlag" value="true" type="checkbox"/>
					<span>Hide</span>
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Hangouts</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.gtalk" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideGtalkFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Skype</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.skype" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideSkypeFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Steam</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.steam" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideSteamFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>XBox Live</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.xboxLive" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideXboxLiveFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Playstation Network</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.psn" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hidePsnFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Nintendo Network ID</label>
				</div>
				<div class="col-xs-8 col-sm-4">
					<input ng-model="vm.profile.userContactInfo.nnid" type="text" class="form-control small-input" ng-disabled="!vm.canEditRestrictedProfileField()"/>
				</div>
				<span class="col-xs-4 col-sm-4" ng-if="vm.canEditRestrictedProfileField()">
					<input ng-model="vm.profile.userSecurityInfo.hideNnidFlag" value="true" type="checkbox"/>Hide
				</span>
			</div>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Security Settings">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>New password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.newPassword" type="text" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Confirm password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.confirmNewPassword" type="text" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Current password</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input ng-model="vm.profile.userSecurityInfo.currentPassword" type="text" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12">
					<input ng-model="vm.profile.userSecurityInfo.hideBirthDateFlag" value="true" type="checkbox"/>Hide Birthdate
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12">
					<input ng-model="vm.profile.userSecurityInfo.hideGenderFlag" value="true" type="checkbox"/>Hide Gender
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<div class="xl-button-wrapper">
			<button type="button" class="btn btn-save col-xs-12" ng-click="vm.saveAccountSettings()">Save</button>
	</div>
</form>

