<form>
	<collapsible-widget widget-title="Buddy List">
		<div class="scrollable-table">
			<table class="widget-table">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Name</th>
						<th>Status</th>
						<th>Last Online</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="($index,user) in vm.profile.ignoreList track by $index">
						<td>PM</td>
						<td>Trash</td>
						<td>{{user.userName}}</td>
						<td>{{user.onlineFlag}}</td>
						<td>{{user.lastOnline}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Ignore List">
		<div class="scrollable-table">
			<table class="widget-table">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Status</th>
						<th>Last Online</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="($index,user) in vm.profile.ignoreList track by $index">
						<td>Trash</td>
						<td>{{user.userName}}</td>
						<td>{{user.onlineFlag}}</td>
						<td>{{user.lastOnline}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</collapsible-widget>
</form>