<form>
	<collapsible-widget widget-title="Avatar & Signature">
		<div class="column-data">
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Avatar Type</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<select class="form-control small-input" ng-model="vm.profile.avatar.avatarTypeId" ng-options="avatarType.id as avatarType.value for avatarType in vm.lookups.AVATAR_TYPE"></select>
				</div>
			</div>
			
			<div class="row padded-row" ng-if="vm.profile.avatar.avatarTypeId === 3">
				<div class="col-xs-12 col-sm-4">
					<label>Avatar Url</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row" ng-if="vm.profile.avatar.avatarTypeId === 2">
				<div class="col-xs-12 col-sm-4">
					<label>Select a file</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="file" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row" ng-if="vm.profile.avatar.avatarTypeId === 4">
				<div class="col-xs-12 col-sm-4">
					<label>Avatar Gallery</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<select class="form-control small-input" ng-model="vm.profile.avatar.avatarGalleryId" ng-options="avatarGallery.id as avatarGallery.value for avatarGallery in vm.lookups.AVATAR_GALLERY"></select>
				</div>
			</div>
		
			<div class="row padded-row">
				<img ng-src="http://localhost:8080/forum/contentstream/avatar/1"/>
			</div>
		
			<div class="row padded-row">
				<div class="col-xs-12">
					<label>Signature</label>
				</div>
				<div class="col-xs-12">
					<textarea ng-model="vm.profile.signature" class="form-control" rows="10" cols="20"></textarea>
				</div>
			</div>
			
			
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Personal Info">
		<div class="column-data">
		
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Birthday</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" ng-model="vm.profile.birthDateAsString" class="form-control small-input"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Custom Title</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input" ng-model="vm.profile.customTitle"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Personal Text</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input" ng-model="vm.profile.personalText"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Gender</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<select ng-model="vm.profile.gender" class="form-control small-input" ng-options="gender.id as gender.value for gender in vm.lookups.GENDER"></select>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Location</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input" ng-model="vm.profile.location"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Website Title</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input" ng-model="vm.profile.websiteTitle"/>
				</div>
			</div>
			
			<div class="row padded-row">
				<div class="col-xs-12 col-sm-4">
					<label>Website Url</label>
				</div>
				<div class="col-xs-12 col-sm-4">
					<input type="text" class="form-control small-input" ng-model="vm.profile.websiteUrl"/>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<div class="xl-button-wrapper">
			<button type="button" class="btn btn-save col-xs-12" ng-click="vm.saveForumProfile()">Save</button>
	</div>
	
	
</form>