<form>
	<collapsible-widget widget-title="Notification Info">
		<div class="unit-wrapper">
			<div class="col-sm-6 col-xs-12 unit">
				<h4>Karma Settings</h4>
				<div class="unit-content">
					<h5>Notify when my karma changes:</h5> 
					<div>
						<span class="col-xs-12 col-sm-6"><input type="checkbox"/><label>By PM</label></span>
						<span class="col-xs-12 col-sm-6"><input type="checkbox"/><label>By E-mail</label></span>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12 unit">
				<h4>Tagging settings</h4>
				<div class="unit-content">
					<h5>Notify when someone has tagged me in a post:</h5>
					<div>
						<span class="col-xs-12 col-sm-6"><input type="checkbox"/><label>By PM</label></span>
						<span class="col-xs-12 col-sm-6"><input type="checkbox"/><label>By E-mail</label></span>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 unit">
				<h4>Post Settings</h4>
				<div class="unit-content">
					<h5>For forums/threads I am subscribed to, notify me:</h5>
					<div>
						<span class="col-xs-12 col-sm-3"><input type="radio"/><label>Never</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio"/><label>Daily</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio"/><label>Weekly</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio"/><label>Monthly</label></span>
					</div>
					<div>
						<span class="col-xs-12"><input type="checkbox"/><label>Only for my threads</label></span>
						<span class="col-xs-12"><input type="checkbox"/><label>Only for threads/forums which I have posted in</label></span>
						<span class="col-xs-12"><input type="checkbox"/><label>Only for posts that are replies to me</label></span>
					</div>
				</div>
				<div class="unit-content">
					<h5>Notify me of:</h5>
					<div>
						<span class="col-xs-12 col-sm-3"><input type="checkbox"/><label>Replies</label></span>
						<span class="col-xs-12 col-sm-9"><input type="checkbox"/><label>Moderation</label></span>
					</div>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Subscribed Threads">
		<div class="scrollable-table-wrapper">
			<table class="widget-table">
				<thead>
					<tr>
						<th class="delete-column"></th>
						<th>Thread Name</th>
						<th>Started By</th>
						<th>Last Post</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Delete</td>
						<td>Hardcoded test</td>
						<td class="no-wrap">Hardcoded test</td>
						<td class="no-wrap">
							Hardcoded test
							<div class="top-padded">By: Hardcoded test</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-page-footer">
			<ul uib-pagination 
			    total-items="100" 
			    ng-model="bigCurrentPage" 
			    max-size="vm.max" 
			    class="pagination-sm paginator" 
			    boundary-links="true" 
			    force-ellipses="true"></ul>
			 <select ng-model="vm.pageNo" class="form-control small-input paginator" ng-options="n for n in [] | range:1:30"></select>
		</div>
	</collapsible-widget>
	
	<collapsible-widget widget-title="Subscribed Forums">
		<div class="scrollable-table-wrapper">
			<table class="widget-table">
				<thead>
					<tr>
						<th class="delete-column"></th>
						<th>Forum Name</th>
						<th>Last Post</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Delete</td>
						<td>Hardcoded test</td>
						<td class="no-wrap">
							Hardcoded test
							<div class="top-padded">By: Hardcoded test</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-page-footer">

		</div>
	</collapsible-widget>
	
	<div class="xl-button-wrapper">
		<button type="button" class="btn btn-save col-xs-12" ng-click="vm.saveForumProfile()">Save</button>
	</div>
</form>