<form>
	<collapsible-widget widget-title="Notification Info">
		<div class="unit-wrapper">
			<div class="col-xs-12 unit">
				<h4>Post Settings</h4>
				<div class="unit-content">
					<h5>For forums/threads I am subscribed to, notify me:</h5>
					<div>
						<select ng-model="vm.profile.notificationSettings.frequencyId" class="form-control small-input" ng-options="freq.id as freq.value for freq in vm.lookups.NOTIFICATION_FREQUENCY">
						</select>
						<!--<span class="col-xs-12 col-sm-3"><input type="radio" ng-model="vm.profile.notificationSettings.frequencyId" value="0"/><label>Never</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio" ng-model="vm.profile.notificationSettings.frequencyId" value="1"/><label>Daily</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio" ng-model="vm.profile.notificationSettings.frequencyId" value="2"/><label>Weekly</label></span>
						<span class="col-xs-12 col-sm-3"><input type="radio" ng-model="vm.profile.notificationSettings.frequencyId" value="3"/><label>Monthly</label></span>-->
					</div>
					<div>
						<span class="col-xs-12 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.onlyMeFlag" value="true"/><label>For threads I started</label></span>
						<span class="col-xs-12 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.postedInFlag" value="true"/><label>For threads I posted in</label></span>
						<span class="col-xs-12 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.repliesToMeFlag" value="true"/><label>For posts that are replies to me</label></span>
					</div>
				</div>
			</div>
		
			<div class="col-sm-6 col-xs-12 unit">
				<h4>Karma Settings</h4>
				<div class="unit-content">
					<h5>Notify when my karma changes:</h5> 
					<div>
						<span class="col-xs-12 col-sm-6 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.karmaPmFlag" value="true"/><label>By PM</label></span>
						<span class="col-xs-12 col-sm-6 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.karmaEmailFlag" value="true"/><label>By E-mail</label></span>
					</div>
				</div>
			</div>
			
			<div class="col-sm-6 col-xs-12 unit">
				<h4>Tagging settings</h4>
				<div class="unit-content">
					<h5>Notify when someone has tagged me in a post:</h5>
					<div>
						<span class="col-xs-12 col-sm-6 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.taggedPmFlag" value="true"/><label>By PM</label></span>
						<span class="col-xs-12 col-sm-6 labeled-checkbox"><input type="checkbox" ng-model="vm.profile.notificationSettings.taggedEmailFlag" value="true"/><label>By E-mail</label></span>
					</div>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<div class="xl-button-wrapper">
		<button type="button" class="btn btn-save col-xs-12" ng-click="vm.saveNotificationSettings()">Save</button>
	</div>
</form>