<form>
	<collapsible-widget widget-title="PM Settings">
		<div class="unit-wrapper">
			
			<div class="col-xs-12 unit">
				<div class="unit-content">
					<h5>Receive personal messages from</h5>
					<div>
						<select ng-model="vm.profile.personalMessagingSettings.receiveFromId" ng-options="receive.id as receive.value for receive in vm.lookups.LKUP_RECEIVE_MESSAGES" class="form-control small-input"></select>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 unit">
				<div class="unit-content">
					<h5>Notify me of personal messages by email</h5>
					<div>
						<select ng-model="vm.profile.personalMessagingSettings.notifyFrequencyId" class="form-control small-input" ng-options="notif.id as notif.value for notif in vm.lookups.LKUP_PM_NOTIF"></select>
					</div>
				</div>
			</div>
		</div>
	</collapsible-widget>
	
	<div class="col-xs-12 form-group">
		<button type="button" class="btn btn-save col-xs-12" ng-click="vm.savePmSettings()">Save</button>
	</div>
</form>