<div class="user-left-panel-wrap row">
	<div class="user-info-wrap col-xs-12 col-sm-4 col-md-12">
		<div class="user-displayname padded-row">{{vm.profile.displayName}}
			<i ng-if="vm.profile.activeFlag && vm.profile.isOnlineFlag === true" class="fas fa-user-circle is-online"></i>
			<i ng-class="{'error-text' : vm.profile.userContactInfo.email.isSpammerFlag}" uib-tooltip="Activate" ng-click="vm.userActivation()" ng-if="vm.profile.activeFlag === false" class="fas fa-handshake"></i>
			<!--<span class="username-ellipses" uib-popover-template="'scripts/popover/templates/popoverUserDetails.html'"
											popover-title="user"
											popover-trigger="'outsideClick'"
											popover-placement="bottom-left"><i class="fas fa-ellipsis-h"></i></span>-->
		</div>
		<div class="user-customtitle" ng-if="vm.profile.personalInfo.customTitle !== null">{{vm.profile.personalInfo.customTitle}}</div>
		<div class="user-avatar-wrap">
		   <img class="user-avatar" ng-src="{{vm.getAvatarUrl()}}"/>
		</div>
		
		<!--<div uib-accordion>
			<div uib-accordion-group class="small-screen-profile-nav">
				<uib-accordion-heading><div class="profile-nav-arrow"><i class="fas fa-caret-down"></i></div></uib-accordion-heading>
				<div>
					<ul>
						<li>Test</li>
						<li>Test2</li>
					</ul>
				</div>
			</div>
		</div>-->
	</div>
	<div class="user-details-wrapper" ng-include="'scripts/popover/templates/popoverUserDetails.html'"></div>
</div>
<div class="mobile-user-bar md">

	
	<div class="mobile-user-nav">
		<i class="fas fa-ellipsis-h" ng-click="vm.openNav(null, true)"></i></span>
		<div class="mobile-nav-label"></div>
		<div class="selected" ng-show="tab.active"></div>
	</div>

	<div class="mobile-user-nav" ng-repeat="tab in vm.navTabs" ng-click="vm.openNav(tab, false)">
		<i class="{{tab.faIcon}}"></i>
		<div class="mobile-nav-label">{{tab.title}}</div>
		<div class="selected" ng-show="tab.active"></div>
	</div>

	
	<!--<div class="mobile-user-nav">
		<i class="fas fa-id-badge"></i>
		<div class="mobile-nav-label">Profile Info</div>
	</div>
	<div class="mobile-user-nav">
		<i class="fas fa-user-edit"></i>
		<div class="mobile-nav-label">Modify Profile</div>
	</div>
	<div class="mobile-user-nav">
		<i class="fas fa-comment-dots"></i>
		<div class="mobile-nav-label">Messaging</div>
	</div>
	<div class="mobile-user-nav">
		<i class="fas fa-tools"></i>
		<div class="mobile-nav-label">Moderation</div>
	</div>-->
</div>
