<div class="section-container" x-ng-controller="UsersCtrl as vm">
	<div class="section-header">
		<div class="section-title-wrapper">
			<div class="section-title">{{vm.activeParentName}}</div>
			<div class="subsection-title">{{vm.activeTabNameId}}</div>
		</div>
		<div class="navigation-wrapper">
			<span class="navigation nav-medium" uib-dropdown ng-repeat="tab in vm.navTabs">
				<span class="selected-indicator" ng-show="tab.active"></span>
				<a href uib-dropdown-toggle>{{tab.title}}</a>
				<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu">
					<li class="nav-item" ng-repeat="subTab in tab.subTabs" ng-click="vm.tabClick(tab, subTab)">{{subTab.title}}</li>
				</ul>
			</span>
		</div>
	</div>
	<div class="section-body">
		<div class="row">
			<div class="col-md-4 col-xs-12 ">
				<span ng-include="'scripts/users/user-profile/user-sidebar.html'"></span>
			</div>
			<div class="col-md-8 col-xs-12">
				<span ng-if="vm.activeTabSectionId == 7" ng-include="'scripts/users/user-profile/user-summary.html'"></span>
				
				<span ng-if="vm.activeTabSectionId == 1" ng-include="'scripts/users/user-profile/account-settings.html'"></span>
				<span ng-if="vm.activeTabSectionId == 2" ng-include="'scripts/users/user-profile/modify-profile.html'"></span>
				
				<span ng-if="vm.activeTabSectionId == 9" ng-include="'scripts/users/user-profile/notification-settings.html'"></span>
				<span ng-if="vm.activeTabSectionId == 10" ng-include="'scripts/users/user-profile/pm-settings.html'"></span>
			</div>
		</div>
	</div>
</div>