<div class="section-container">
	<div class="section-header">
		<div class="section-title-wrapper">
			<div class="section-title" ng-click="toggleDetails()"><i class="fas fa-users"></i> Who's Online</div>
		</div>
	</div>
	<div class="section-body no-padding">
		<span class="whos-online-wrapper" ng-style="{ 'display' : showDetails === true ? 'none' : 'block'}">
			<span>
				<label><span ng-bind="users.onlineUsers.length"></span> users online</label>
			</span>
			
			<div>
				<span ng-repeat="($index, user) in users.onlineUsers track by $index">
					<span class="whos-online-user member-group-{{user.primaryMemberGroup}}">
						<a ui-sref="user-profile({userId : user.usersId})">{{user.displayName}}</a>
					</span>
					<span ng-show="$index < users.onlineUsers.length -1 ">, </span>
				</span>
			</div>
		</span>
		
		<div class="whos-online-detail-wrapper" uib-accordion  ng-style="{ 'display' : showDetails === true ? 'block' : 'none'}">
			<div class="whos-online" uib-accordion-group class="panel-default">
				<div uib-accordion-heading><span class="caret-collapsed"><i class="fas fa-plus-square"></i></span> Test Username</div>
				<div class="whos-online-session-detail col-xs-12">
					<div class="col-xs-12 col-sm-3">
						<div class="detail-line">192.168.1.1</div>
						<div class="detail-line"><i class="fab fa-windows"></i>Windows 7</div>
						<div class="detail-line"><i class="fab fa-firefox"></i>Firefox 67.0.0</div>
					</div>
					<div class="col-md-9">
						<div>Viewing the profile of MG-Zero</div>
					</div>
				</div>
				<div class="whos-online-session-detail col-xs-12">
					<div class="col-xs-12 col-sm-3">
						<div>192.168.1.1</div>
						<div><i class="fab fa-windows"></i>Windows 7</div>
						<div><i class="fab fa-firefox"></i>Firefox 67.0.0</div>
					</div>
					<div class="col-md-9">
						<div>Viewing the profile of MG-Zero</div>
					</div>
				</div>
			</div>
			<div class="whos-online" uib-accordion-group class="panel-default">
				<div uib-accordion-heading><span class="caret-collapsed"><i class="fas fa-plus-square"></i></span> Test Username</div>
				<div>Other test</div>
			</div>
		</div>
	</div>
</div>