//=========================================
//colors
//=========================================
$midnight-bg-color:						#204378 !important;
$midnight-color:						#d5dffb !important;
$midnight-disabled-color:				#60759e !important;

//sections
$midnight-section-body-bg-color:		#0f1527;

//widgets
$midnight-widget-body-bg-color:			#1E2B44;

//global
$midnight-header-bg-color:				#0B1A37;
$midnight-background-hover-color: 		#35486b;

//buttons
$midnight-std-btn:						#1c3c9c;
$midnight-save-btn:						#53af73;

//tables
$midnight-zebra-odd:					#3a4967;
$midnight-zebra-even:					$midnight-widget-body-bg-color;
$midnight-row-hover:					#66889e;
$midnight-inner-border:					#3d4458;

//misc
$midnight-user-online:					#00ff21;
$midnight-error-text:					#ff5959;
$midnight-success-text:					#31c72f;

//anchor elements
$midnight-a-link:						#b8f8ff;
$midnight-a-hover:						#e0ffb8;
$midnight-a-visited:					#9dd852;

//modals
$midnight-modal-background-color:		#537ebb;
$midnight-modal-header-text-color:		#f0fddf;
$midnight-modal-header-background-color:#001042;

//buttons
$midnight-btn-danger:					#b95050;
$midnight-btn-default:					#1a375f;
$midnight-btn-confirm:					#449a5d;

$midnight-stop:							#d02a2a;
$midnight-stop-hover:					#ff7979;