//=========================================
//colors
//=========================================
$midnight-bg-color:						#204378 !important;
$midnight-color:						#FFF !important;

//sections
$midnight-section-body-bg-color:		#0f1527;

//widgets
$midnight-widget-body-bg-color:			#1E2B44;

//global
$midnight-header-bg-color:				#0B1A37;
$midnight-background-hover-color: 		#35486b;

//buttons
$midnight-save-btn:						#53af73;