@import 'midnight-variables';

.midnight{

	background-color:$midnight-bg-color;
	color:$midnight-color;
	font:95%/90% Verdana, Helvetica, sans-serif !important;
	
	.section-container{
		.section-header{
			background-color:$midnight-header-bg-color;
		}

		.section-body{
			background-color:$midnight-section-body-bg-color;
		}
	}

	.widget-container{
		.widget-header{
			background-color:$midnight-header-bg-color;
		}
		
		.widget-body{
			background-color:$midnight-widget-body-bg-color;
		}
	}
	
	.navigation-wrapper{
		button.navigation-icon:disabled{
			color:$midnight-disabled-color;
		}
	
		.navigation{
			ul{
				background-color:$midnight-header-bg-color;
				
				.nav-item:hover{
					background-color:$midnight-background-hover-color;
				}
			}
		}
	}
}

.btn{
	&.btn-save{
		background-color:$midnight-save-btn !important;
	}

	&.btn-critical{
		background-color:$midnight-btn-danger !important;
	}

	&.btn-def{
		background-color:$midnight-btn-default !important;
	}
	
	&.btn-confirm{
		background-color:$midnight-btn-confirm !important;
	}
}

.title{
	background-color:$midnight-header-bg-color;
}

.entire-inside{
	background-color:$midnight-widget-body-bg-color;
}

table{
	tbody{
		tr:nth-child(odd){
			background-color:$midnight-zebra-odd;
		}
		
		tr:nth-child(even){
			background-color:$midnight-zebra-even;
		}
		
		tr:hover{
			background-color:$midnight-row-hover;
		}
	}
}

.responsive-table{
	.responsive-table-body{
		.responsive-table-row:nth-child(odd){
			background-color:$midnight-zebra-odd;
		}
		
		.responsive-table-row:nth-child(even){
			background-color:$midnight-zebra-even;
		}
	
		.responsive-table-row:hover{
			background-color:$midnight-row-hover;
		}
		
		.responsive-table-row{
			.responsive-table-cell{
				border-right-color:$midnight-inner-border;
			}
		}
	}
}

.inf-scroll-result:hover{
		background-color:$midnight-row-hover;
}

ul.pagination{
	li{
		a{
			background-color:$midnight-header-bg-color;
			color:$midnight-color;
		}
	}
}

.message-subject{
	background-color:$midnight-header-bg-color;
}

.message-body{
	background-color:$midnight-widget-body-bg-color;
}

//misc
.user-online{
	color : $midnight-user-online;
}

//anchor element
a:link{
	color : $midnight-a-link;
}

a:visited{
	color : $midnight-a-visited;
}

a:hover{
	color : $midnight-a-hover;
}

//modal
.modal-content{
	background-color:$midnight-modal-background-color;
	
	.modal-header{
		h2{
			color:$midnight-modal-header-text-color;
		}
	}
}

.toast-wrapper{
	&.toast-success {
		background-color: $midnight-btn-confirm;
	}
	
	&.toast-error {
		background-color: $midnight-btn-danger;
	}

    .toast-icon{
	    background-color: $midnight-color;
	    
	    .fa-check-circle, .fa-times-circle {
    		color: $midnight-section-body-bg-color;
    	}
    }
    .toast-text{
	    display: inline-block;
	    padding-top: 14px;
	    padding-left: 10px;
	    font-size: 14px;
    }
}


