@import 'midnight-variables';

.midnight{

		background-color:$midnight-bg-color;
		color:$midnight-color;
		font:95%/90% Verdana, Helvetica, sans-serif !important;
		
		.section-container{
			.section-header{
				background-color:$midnight-header-bg-color;
			}
	
			.section-body{
				background-color:$midnight-section-body-bg-color;
			}
		}

		.widget-container{
			.widget-header{
				background-color:$midnight-header-bg-color;
			}
			
			.widget-body{
				background-color:$midnight-widget-body-bg-color;
			}
		}
		.title{
				background-color:$midnight-header-bg-color;
				padding-top: 10px;
    			padding-bottom: 10px;
    			border: 1px solid;
			}
		.inner{
		    	
    			
		}
		.entire-inside{
				border: 1px solid;
				border-top: 0;
				
				div {
					margin-top: 12px;
	    			margin-bottom: 12px;
	    			font-size: 12px;
	    			line-height: normal;
				}
		}

}

.navigation-wrapper{
	.navigation{
		ul{
			background-color:$midnight-header-bg-color;
		}
		
		.nav-item{
			:hover{
				background-color:$midnight-background-hover-color;
			}
		}
	}
}

