@import 'midnight-variables';

.midnight{

		background-color:$midnight-bg-color;
		color:$midnight-color;
		font:95%/90% Verdana, Helvetica, sans-serif !important;
		
		.section-container{
			.section-header{
				background-color:$midnight-header-bg-color;
			}
	
			.section-body{
				background-color:$midnight-section-body-bg-color;
			}
		}

		.widget-container{
			.widget-header{
				background-color:$midnight-header-bg-color;
			}
			
			.widget-body{
				background-color:$midnight-widget-body-bg-color;
			}
		}
}

.navigation-wrapper{
	.navigation{
		ul{
			background-color:$midnight-header-bg-color;
		}
		
		.nav-item{
			:hover{
				background-color:$midnight-background-hover-color;
			}
		}
	}
}

form{
	.btn{
		background-color:$midnight-std-btn;
		
		.btn-save{
			background-color:$midnight-save-btn !important;
		}
	}
}

.title{
	background-color:$midnight-header-bg-color;
}

.entire-inside{
	background-color:$midnight-widget-body-bg-color;
}

table{
	tbody{
		tr:nth-child(odd){
			background-color:$midnight-zebra-odd;
		}
		
		tr:nth-child(even){
			background-color:$midnight-zebra-even;
		}
		
		tr:hover{
			background-color:$midnight-row-hover;
		}
	}
}

.responsive-table{
	.responsive-table-body{
		.responsive-table-row:nth-child(odd){
			background-color:$midnight-zebra-odd;
		}
		
		.responsive-table-row:nth-child(even){
			background-color:$midnight-zebra-even;
		}
	
		.responsive-table-row:hover{
			background-color:$midnight-row-hover;
		}
		
		.responsive-table-row{
			.responsive-table-cell{
				border-right-color:$midnight-inner-border;
			}
		}
	}
}

.inf-scroll-result:hover{
		background-color:$midnight-row-hover;
}

ul.pagination{
	li{
		a{
			background-color:$midnight-header-bg-color;
			color:$midnight-color;
		}
	}
}