<div class="forum-header" ng-class="{'logged-in' : user.usersId !== null, 'logged-out' : user.usersId === null}">
	<div class="user-header-wrapper">
		<div ng-if="user.usersId !== null">
			<div class="text-content">
				Welcome, <a ui-sref="user-profile({userId : user.usersId})">{{user.displayName}}</a>
			</div>
			<div class="text-content"><a ng-click="logOutLocal()">Logout</a> | <a ui-sref="convoBox">Conversations ({{user.unreadPmCount}})</a></div>
		</div>
		<div ng-if="user.usersId === null">
			<div class="text-content">
				Welcome, guest
			</div>
			<div class="text-content"><a ui-sref="registration">Sign Up</a> or <a href="" ng-click="goToIdp()">Log in</a></div>
			<div class="text-content"><a ui-sref="password-reset">Forgot your password?</a></div>
		</div>
	</div>
	<div class="zfgc-logo">
	</div>
</div>