<div ng-controller="PmTwoFactorCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title">Mailbox Authentication</div>
			</div>
		</div>
		
		<div class="section-body">
			<div class="row mailbox-auth-wrapper">
				<form>
					<div class="col-xs-12 col-md-6 form-group">
						<label>Enter your mailbox authentication key</label>
						<input ng-model="vm.authKey" type="password" class="form-control"/>
					</div>
					<div class="col-xs-12 form-group">
						<button ng-click="vm.authorize()" class="btn btn-confirm">Continue</button>
					</div>
				</form>
			</div>
		</div>
		
	</div>
</div>