<div ng-controller="ConvoBoxCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title">Mail Box</div>
			</div>
			<div class="navigation-wrapper">
				<span class="nav-medium">
					<button class="navigation-icon" title="Leave Conversation" ng-disabled="!vm.boxesSelected || vm.filters.filterBy === 3" ng-click="vm.deleteConversations()">
						<i class="fas fa-sign-out-alt"></i><label>Leave</label>
					</button>
					<button class="navigation-icon" title="Archive" ng-disabled="!vm.boxesSelected || vm.filters.filterBy === 3" ng-click="vm.archiveConversations()">
						<i class="fas fa-archive"></i><label>Archive</label>
					</button>
					<button class="navigation-icon" title="Prune" ng-click="vm.prune()">
						<i class="fas fa-comment-slash"></i><label>Prune</label>
					</button>
					<button class="navigation-icon" title="New" ng-click="vm.newMessage()">
						<i class="fas fa-plus-circle"></i><label>New</label>
					</button>
				</span>
			</div>
		</div>
		
		<div class="section-body">
			<div class="row">
				<form name="convo-box-filters" class="convo-box-filters">
				
					<div class="col-xs-12 mobile-user-bar md">
						<div class="mobile-user-nav">
							<i class="fas fa-sign-out-alt" ng-click="vm.deleteConversations()"></i></span>
							<div class="mobile-nav-label">Leave</div>
							<div class="selected" ng-show="tab.active"></div>
						</div>
						
						<div class="mobile-user-nav">
							<i class="fas fa-archive" ng-click="vm.archiveConversations()"></i></span>
							<div class="mobile-nav-label">Archive</div>
							<div class="selected" ng-show="tab.active"></div>
						</div>
						
						<div class="mobile-user-nav">
							<i class="fas fa-comment-slash" ng-click="vm.prune()"></i></span>
							<div class="mobile-nav-label">Prune</div>
							<div class="selected" ng-show="tab.active"></div>
						</div>
						
						<div class="mobile-user-nav">
							<i class="fas fa-plus-circle" ng-click="vm.newMessage()"></i></span>
							<div class="mobile-nav-label">New</div>
							<div class="selected" ng-show="tab.active"></div>
						</div>
					</div>
				
					<div class="filter-wrapper">
						<div class="col-xs-12 col-md-3">
							<label>Filter By</label>
							<select class="small-input form-control" 
							        ng-model="vm.filters.filterBy" 
							        ng-change="vm.getConversations()"
							        ng-options="filterOption.id as filterOption.value for filterOption in vm.filterOptions">
							</select>
						</div>
						
						<div class="col-xs-12 col-md-3">
							<label>Sort By</label>
							<select class="small-input form-control"
									ng-model="vm.filters.sortBy"
									ng-change="vm.sortConversations()"
									ng-options="sortOption.id as sortOption.value for sortOption in vm.sortOptions">
							</select>
						</div>
					</div>
				</form>
				
				<div class="col-xs-12 no-padding">
					<form name="convoBoxForm" class="convo-box-form">
						<div class="responsive-table convo-box-table">
							<div class="responsive-table-header">
								<span class="responsive-col-del responsive-table-cell"></span>
								<span class="responsive-col-title responsive-table-cell">Conversation</span>
								<span class="responsive-col-last-updated responsive-table-cell">Started By</span>
							</div>
							<div class="responsive-table-body" ng-if="vm.convoBox.conversations.length > 0">
								<div class="responsive-table-row flex-row-xs" ng-repeat="convo in vm.convoBox.conversations">
									<span class="responsive-table-cell"><input type="checkbox" ng-model="convo.isSelected" value="true" ng-change="vm.checkForCheckedBoxes()"/></span>
									<span class="convo-details-wrapper responsive-table-cell">
										<a class="flex-column-xs" ui-sref="convo({conversationId:convo.pmConversationId})">
											<span class="icon-row-xs">
												<span><i ng-class="{'fas fa-archive' : convo.boxType === 'ARCHIVE', 'fas fa-inbox' : convo.boxType === 'INBOX', 'fas fa-share-square' : convo.boxType === 'OUTBOX'}"></i></span>
												<span class="convo-box-subject" ng-bind-html="convo.subject"></span>
											</span>
											<span class="convo-detail convo-box-subject">From {{convo.senderName}} on {{convo.sentDtAsString}}</span>
											<span class="hidden-sm hidden-md hidden-lg convo-detail">Started By {{convo.initiatorName}} on {{convo.startDtAsString}}</span>
										</a>
										<div class="convo-box-message">{{vm.stripHtml(convo.message)}}</div>
									</span>
									<span class="hidden-xs responsive-col-last-updated responsive-table-cell">
										<span class="from-user">
											{{convo.initiatorName}}
										</span>
										<div>
											{{convo.startDtAsString}}
										</div>
									</span>
									</a>
								</div>
							</div>
						</div>
						<span class="responsive-table-note col-xs-12" ng-if="vm.convoBox.conversations.length == 0">You have no conversations in this box.</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>