<div ng-controller="ConvoBoxCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title">Mail Box</div>
			</div>
			<div class="navigation-wrapper">
				<button class="navigation-icon" title="Leave Conversation" ng-disabled="!vm.boxesSelected || vm.filters.filterBy === 3" ng-click="vm.deleteConversations()">
					<i class="fas fa-sign-out-alt"></i><label>Leave</label>
				</button>
				<button class="navigation-icon" title="Archive" ng-disabled="!vm.boxesSelected || vm.filters.filterBy === 3" ng-click="vm.archiveConversations()">
					<i class="fas fa-archive"></i><label>Archive</label>
				</button>
				<button class="navigation-icon" title="Prune" ng-click="vm.prune()">
					<i class="fas fa-comment-slash"></i><label>Prune</label>
				</button>
				<button class="navigation-icon" title="New" ng-click="vm.newMessage()">
					<i class="fas fa-plus-circle"></i><label>New</label>
				</button>
			</div>
		</div>
		
		<div class="section-body">
			<div class="row">
				<form name="convo-box-filters">
					<span class="filter-wrapper">
						<div class="col-xs-3">
							<label>Filter By</label>
							<select class="small-input form-control" 
							        ng-model="vm.filters.filterBy" 
							        ng-change="vm.getConversations()"
							        ng-options="filterOption.id as filterOption.value for filterOption in vm.filterOptions">
							</select>
						</div>
						
						<div class="col-xs-3">
							<label>Sort By</label>
							<select class="small-input form-control">
							</select>
						</div>
					</span>
				</form>
				
				<div class="col-xs-12">
					<form name="convoBoxForm" class="convo-box-form">
						<div class="responsive-table convo-box-table">
							<div class="responsive-table-header">
								<span class="responsive-col-del responsive-table-cell"></span>
								<span class="responsive-col-title responsive-table-cell">Conversation</span>
								<span class="responsive-col-last-updated responsive-table-cell">Started By</span>
							</div>
							<div class="responsive-table-body" ng-if="vm.convoBox.conversations.length > 0">
								<div class="responsive-table-row" ng-repeat="convo in vm.convoBox.conversations">
									<span class="responsive-col-del responsive-table-cell"><input type="checkbox" ng-model="convo.isSelected" value="true" ng-change="vm.checkForCheckedBoxes()"/></span>
									<span class="responsive-col-title responsive-table-cell">
										<a ng-href="mailBox/conversation?conversationId={{convo.pmConversationId}}">
											<span class="convo-box-subject" ng-bind-html="convo.subject"></span>
											<span class="convo-box-subject"> - Last Message By: {{convo.receiverName}} On : {{convo.sentDtAsString}}</span>
										</a>
										<div class="convo-box-message">{{vm.stripHtml(convo.message)}}</div>
									</span>
									<span class="responsive-col-last-updated responsive-table-cell">
										<span>
											{{convo.initiatorName}}
										</span>
										<div>
											{{convo.startDtAsString}}
										</div>
									</span>
									</a>
								</div>
							</div>
						</div>
						<span class="responsive-table-note col-xs-12" ng-if="vm.convoBox.conversations.length == 0">You have no conversations in this box.</span>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>