.bb-code-b{
	font-weight:bold;
}

.bbcode-quote-header{
	display:inline-block;
	background-color: #1e2b44;
    padding: 0 5px;
    position: relative;
    top: 20px;
    font-weight: bold;
    left: 7px;
}

.bbcode-quote-block{
	display: block;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 15px 8px;
    margin: 15px 0;
}