form{
	.btn{
		margin-bottom:10px;
		
		.btn-img{
			width:16px;
			height:16px;
			background:url('/forum/assets/images/icons/cc-icons-01.png') 30 30;
		}
		
	}
	
	.btn-editor{
		.fa{
			font-size:20px !important;
		}
	}
}