.calendar-month-wrapper{
	margin-left: auto;
    margin-right: auto;
    width: 70%;

	.calendar-week{
		height: 100px;
   		width: 1120px;
   		
   		.calendar-date{
   			width: 160px;
    		display: inline-block;
    		height: 60px;
   		}
	}
}