.zfgc-combobox-wrapper{
	input{
		border-bottom: 0px;
	}
	
	.selected-content{
		    width: 100%;
		    background-color: white;
		    border-radius: 5px;
		    border: 1px solid black;
		    cursor: text;
		    height: 3.091em;
		}
	
	.zfgc-combobox-items{
		.dropdown-menu{
			max-height: 15em;
    		overflow-y: scroll;
    		width: 100%;
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;
		    border-top: 0;
		    top: -.2em;
		    padding-top: 0;
    		padding-bottom: 0;
    		
    		.combobox-item{
				height: 2em;
				
				&:hover{
					background-color: red;
				}
			}
		}
	}
}