.convo-box-table{
	.responsive-col-del{
		width:4%;
	}
	
	.responsive-col-title{
		width:80%;
	}
	
	.responsive-col-last-updated{
		width:16%;
	}
}

.convo-box-form{
	.convo-box-subject{
		font-weight:bold;
	}
	
	.message-content{
		position: relative;
    	top: -5px;
	
		.convo-box-message{
			padding-top: 5px;
    		padding-left: 20px;
		}
	}
}

.conversation-wrapper{
	margin-top:-20px;
	
	.message-wrapper:not(:first-child){
		.message-subject{
			border-top:1px solid;
		}
	}
	
	.conversation{
		
		padding: 0;
		
		.message-wrapper{
			.message-content{
				min-height:200px;
				
				.message-subject{
					height: 30px;
    				border-bottom: 1px solid;
    				padding-top: 2px;
    				display: flex;
    				align-items: center;
    				justify-content: space-between;
    				
    				.expand-icon{
    					font-size: 15px;
    				}
    				
    				.timestamp{
    					padding-left: 10px;
    					font-size: 13px;
    					font-weight: bold;
    				}
				}
				
				.message-body{
					min-height:180px;
					
					.message-message{
						padding-left: 12px;
					    padding-top: 12px;
					    overflow-wrap: break-word;
					    line-height: 1.2;
					}
				}
			}
		}
		
	}
}
