.convo-box-table{
	.responsive-col-del{
		width:4%;
	}
	
	.responsive-col-title{
		width:80%;
	}
	
	.responsive-col-last-updated{
		width:16%;
	}
}

.convo-box-form{
	.convo-box-subject{
		font-weight:bold;
	}
	
	.convo-box-message{
		padding-top:5px;
	}
}