form{
	.small-input{
		height:29px;
		font-size:12px;
	}
	
	.checkbox-wrapper{
		&.thread-checkbox{
			input[type="checkbox"]{
				bottom: 1.4em;
    			margin-right: 1em;
    			position: relative;
			}
		}
	
		display: flex;
		align-items: center;
		
		label{
			padding-left: 5px;
    		padding-top: 7px;
		}
	}
	
	input[type="checkbox"]{
		@media(max-width: 767px){
			padding: 10px;
		}
	
		-webkit-appearance: none;
    	background-color: #ffffff;
    	border: 1px solid black;
    	padding: 7px;
    	border-radius: 3px;
    	display: inline-flex;
    	position: relative;
	}

	input[type="checkbox"]:checked:after {
		@media(max-width: 767px){
			top: -6px;
			font-size: 23px;
		}
	
		content: '\2714';
	    font-size: 17px;
	    font-weight: 600;
	    position: absolute;
	    top: -4px;
	    left: -1px;
	    color: #239200;
	}
	
	.labeled-checkbox{
		@media(max-width:767px){
			display:flex;
			align-items:center;
		}
	}
	
	.form-control{
		&[disabled],
  		&[readonly],
  		fieldset[disabled] & {
    		opacity: .3;
  		}
  		
  		&.top-input{
  			border-radius: 4px 4px 0 0;
  		}
  		
  		&.bottom-input{
  			border-radius: 0 0 4px 4px;
  		}
  		
  		border: 1px solid black;
	}
	
	.xl-button-wrapper{
	    width: 90%;
	    padding-left: 10px;
	    padding-right: 10px;
	    margin: 0 auto;
	    margin-bottom:10px;
	}
	
	.inf-scroll-object{
		height:100px;
	}
	
	.inf-scroll-wrapper{
		height:400px;
		overflow-y:overlay;
		
		.inf-scroll-result{
			height:100px;
		}
	}
	
	.inf-scroll-wrapper::-webkit-scrollbar{

	}
	
	.user-search-wrapper{
		padding:10px;
		
		img{
			border-radius:50%;
			width:40px;
		}
	}
	
	.filter-wrapper{
		display:inline-block;
		width:100%;
		padding-top: 10px
	}
	
	//input specific classes
	input{
		&.dropdown-selector{
			border-bottom-left-radius: 0;
    		border-bottom-right-radius: 0;
		}
	}
	
	.form-control-wrapper{
		padding-bottom:10px;
	}
}

.padded-form{
	padding-left:12px;
}