form{
	.small-input{
		height:29px;
		font-size:12px;
	}
	
	.labeled-checkbox{
		label{
			padding-bottom:2px;
		}
	}
	
	.form-control{
		&[disabled],
  		&[readonly],
  		fieldset[disabled] & {
    		opacity: .3;
  		}
	}
	
	.xl-button-wrapper{
	    width: 90%;
	    padding-left: 10px;
	    padding-right: 10px;
	    margin: 0 auto;
	    margin-bottom:10px;
	}
	
	.message-text-area{
		padding:10px;
		
		textarea{
			resize:none;
		}
	}
	
	.inf-scroll-object{
		height:100px;
	}
	
	.inf-scroll-wrapper{
		height:400px;
		overflow-y:overlay;
		
		.inf-scroll-result{
			height:100px;
		}
	}
	
	.inf-scroll-wrapper::-webkit-scrollbar{

	}
	
	.user-search-wrapper{
		padding:10px;
		
		img{
			border-radius:50%;
			width:40px;
		}
	}
	
	.filter-wrapper{
		display:block;
		padding-left:18px;
	}
	
	//input specific classes
	input{
		&.dropdown-selector{
			border-bottom-left-radius: 0;
    		border-bottom-right-radius: 0;
		}
	}
}

.padded-form{
	padding-left:12px;
}