.main-wrapper{
	width: 70%;
    margin: 0 auto;
    display: block;
    
    .left-nav-panel{
    	float:left;
    }
}

.alerts-container{
	position:absolute;

	.toast-wrapper{
		min-width: 300px;
	    height: 40px;
	    position: fixed;
	    border: 1px solid;
	    bottom: 10px;
	    left: 10px;
	    z-index: 9999;
	    border-radius:4px;
	    box-shadow: 5px 5px 4px 0px #0b1a37;
	    
	    .toast-icon{
	    	height: 39px;
		    width: 40px;
		    border-right: 1px solid;
		    float: left;
		    border-radius: 4px 0 0 4px;
		    
		    .fa-check-circle, .fa-times-circle {
	    		margin-left: 7px;
	    		margin-top: 6px;
	    		font-size: 24px;
	    	}
	    }
	    .toast-text{
		    display: inline-block;
		    padding: 14px 10px 0 10px;
		    font-size: 14px;
	    }
	}
}

.section-container{
	border:1px solid;
    margin: 0 auto 20px auto;
	
	.section-header{
		border-bottom:1px solid;	
		padding-left:20px;
		min-height:40px;
		height:40px;
	
		.section-title-wrapper{
			float:left;
			margin-top:3px;
			
			.section-title{
				font-weight:600;
				font-size: 18px;
	    		font-family: cambria math;
	    		padding-top: 7px;
			}
		
			.subsection-title{
				font-size:12px;
				margin-left:4px;
				margin-top:4px;
				padding-top:2px;
			}
		}
	}

	.section-body{
		padding-top:20px;
		font-size:11px;
	}
}

.widget-container{
   width:90%;
   margin:0 auto;
   border:1px solid;
   margin-bottom:12px;
   
   .widget-header{
   		border-bottom:1px solid;
   		min-height:30px;
   		padding-left:20px;
   		
   		.widget-control{
   			padding-top:6px;
   		}
   		
	    .widget-title{
			font-weight:600;
			font-size: 18px;
    		font-family: cambria math;
	    }
   }
   
   .widget-body{
    	font-size:11px;
   		.column-data{
   			margin-left:12px;
   			padding-top:12px;
   		}
    }
}

.row-label{
	label{
		font-weight:600;
		margin-bottom:0px;
		padding-bottom:5px;
	}
}

.padded-row{
	padding-bottom:.8rem;
}

.title{font-size:14px;margin-top:20px;}

.row{
	margin-right: -10px;
    margin-left: -10px;
}
    
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 10px;
    padding-left: 10px;
}

h1,h2,h3,h4,h5,h6{
	margin:0 !important;
	padding-bottom:5px !important;
    font-family: cambria math !important;
}

.title{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid;
}
.inner{
    	
		
}
.entire-inside{
		border: 1px solid;
		border-top: 0;
		
		div {
			margin-top: 12px;
			margin-bottom: 12px;
			font-size: 12px;
			line-height: normal;
		}
}

.top-padded{
	padding-top:2px;
}

@media(max-width: 600px){
	ul.paginator{
		display:none;
	}
}

@media(min-width: 601px){
	select.paginator{
		display:none;
	}
}

select.paginator{
	border-radius:0px;
}

ul.paginator{

	margin:0 !important;
	height:20px;
	width:100%;
	
	li{
		a{
			border-radius:0 !important;
		}
	}
}

.unit-wrapper{
	overflow:auto;
	padding-top: 10px;
	
	.unit{
		padding-bottom:40px;
		
		.unit-content{
			padding-bottom:10px;
		}
	}
}

button:disabled{
	cursor:not-allowed;
}

.forum-header{
	
	height: 75px;
    border-left: 1px solid;
    border-right: 1px solid;

	.user-header-wrapper{
		padding-top: 50px;
    	padding-left: 5px;
	}

}
