.section-container{
	margin-top:20px;
	margin-left:20px;
	border:1px solid;
}

.section-header{
	border-bottom:1px solid;	

	.section-title{
		
	}
	
	.subsection-title{
		font-size:12px;
		margin-left:4px;
		margin-top:-4px;
	}
}

.section-body{
	margin-top:20px;
}

.widget-container{
   width:90%;
   margin-left:12px;
   margin-right: auto;
   min-height:300px;
   
   .widget-title{
   
   }
   
   .widget-body{
   		.column-data{
   			margin-left:12px;
   			margin-top:12px;
   		}
   }
}