.user-name-text-icon {
	padding: 5px;
	background-color: #66889e;
	max-width: 100px;
	min-width:100px;
	border: 1px solid;
	border-radius: 5px;
	cursor:pointer;
	margin: 10px 3px 3px 2px;
	display:inline-block;
	
	&:hover{
		background-color:#a1bfd2
	}
	
	span{
		font-weight: bold;
		color: #c2e2f7;
		display: inline-block;
		
		&:hover{
			color:#FFF;
		}
	}
	
	.user-name{
		text-overflow: ellipsis;
	    overflow: hidden;
	    width: 85%;
	    float: right;
	}
	
}

.send-pm-icon{
    font-size: 23px;
    display: inline-block;
    text-shadow: 5px 5px 2px black;
}

.edit-text-icon{
	padding-left:5px;
	cursor: pointer;
}

.icon-row{
	font-size: 1.5em;
    padding-bottom: .3em;
}


@media(max-width: 767px){
	.icon-row-xs{
		font-size: 1.5em;
    	padding-bottom: .3em;
	}
}