body{
	background-color:#204378 !important;
	color:#FFF !important;
	font:95%/90% Verdana, Helvetica, sans-serif !important;
}

.section-container{
	.section-header{
		background-color:#0B1A37;
	}
	
	.section-body{
		background-color:#0f1527;
	}
}

.widget-container{
	.widget-header{
		background-color:#0B1A37;
	}
	
	.widget-body{
		background-color:#1E2B44;
	}
}