.mailbox-auth-wrapper{
	padding-left:10px;
}

.message-text-area{
	
	.button-section-wrapper{
		padding-bottom:12px;
		display:inline-block;
	}

	padding:10px;
	
	textarea{
	    resize: none;
    	display: inline-block;
    	margin-top: 12px;
	}
}

.conversation-participants-wrapper{
	margin-left: 10px;
}

.conversation-participants-label{
	display: inline-block;
    float: left;
    padding-top: 15px;
}

.conversation-participants{
	display:inline-block;
}

.conversation-subject-wrapper{
	.subject-edit-box{
		width: 300px;
    	height: 15px;
	}
	
	.subject-edit-accept{
		padding-right: 3px;
    	padding-left: 5px;
	}
}

.from-user{
	display:inline-block;
	padding-bottom:5px;
}