.mailbox-auth-wrapper{
	padding-left:10px;
}

.message-text-area{
	
	.button-section-wrapper{
		padding-bottom:12px;
		display:inline-block;
	}

	padding:10px;
	
	textarea{
		resize:none;
	}
}

.conversation-participants-label{
	display: inline-block;
    float: left;
    padding-top: 15px;
}

.conversation-participants{
	display:inline-block;
}