.popover{
	
	border:none !important;
	background-color: black !important;
	
	.arrow{
		bottom: -10px !important;
		border-top-color: black !important;
	}
	
	.popover-inner{
		.popover-title{
			border: none !important;
		}
	
		.popover-content{
			border-radius: 0 0 5px 5px !important;
		}
	}
}