table.widget-table{
	
	width:100%;
	border-bottom:1px solid;
	
	thead{
		border-bottom:1px solid;
		
		tr{
			th{
				padding: 12px 0 6px 12px;
				font-weight:600;
				font-size:14px;
				white-space:nowrap;
			}
			
			th.delete-column{
				width:30px;
			}
		}
	}
	
	tbody{
		tr{
			td{
				padding:12px;
				vertical-align:top;
				border-right:1px solid;
			}
			
			td.no-wrap{
				white-space:nowrap;
			}
			
			td:last-of-type{
				border-right:0px;
			}
		}
	}
}

.table-page-footer{
	overflow:auto;
	height:30px;
	
	.left-side{
		float:left;
		
		@media (max-width:768px){
			display:none;
			float:none;
		}
	}
	
	.right-side{
		float:right;
		height:20px;
	}
}

.scrollable-table{
	max-height: 200px;
    overflow-y: auto;
    
    @media(min-width:769px){
    	max-height:300px;
    }
}

.scrollable-table-wrapper{
	overflow-x:auto;
	
	th.scroll-lock{
		position:absolute;
	}
	
	td.scroll-lock{
		position:absolute;
	}
}

.responsive-table{
	@media(max-width:767px){
		display:block;
	}

	display:table;
	width:100%;

	.responsive-table-header{
		@media(max-width:767px){
			display:none;
		}
	
		display:table-header-group;
		
		.responsive-table-cell{
			@media(max-width:767px){
				display:block;
			}
		
			display: table-cell;
    		padding: 15px;
		}
	}
	
	.responsive-table-body{
		@media(max-width:767px){
			display:block;
		}
	
		display:table-row-group;
	
		.responsive-table-row{
			@media(max-width:767px){
				display:block;
			}
		
			display:table-row;
		
			.responsive-table-cell{
				@media(max-width:767px){
					&.hidden-cell{
						display:none;
					}
				
					display:block;
				}
			
				display:table-cell;
				padding: 15px;
				border-right-style:solid;
				border-right-width:thin;
			}
			
			.responsive-table-cell:last{
				border-right:0px;
			}
		}
		
		.responsive-table-row:hover{
			cursor:pointer;
		}
	}
}

.responsive-table-note{
	padding-bottom:10px;
}