.user-left-panel-wrap{
	margin-left: 20px !important;
	
	.user-avatar{
		border: 1px solid black;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	
	.user-displayname{
		font-size:14px;
		font-weight:600;
	}
	
	.bottom-section-wrap{
		margin-top:30px;
		margin-bottom:20px;
	}
}

