.whos-online-detail-wrapper{
	
	.panel-group{
		margin-bottom: 0;
		
		.panel{
			margin-top: 0;
			
			.panel-body{
				.whos-online-session-detail{
					padding-bottom: 10px;
    				padding-top: 10px;
    				border-bottom: 1px solid;
    				
    				.detail-line{
    					padding-bottom: 5px;
    				}
				}
			}
		}
	}
	
	.whos-online{
	
		.caret-collapsed{
			padding-right: 10px;
		}
	
		min-height: 40px;
    	align-items: center;
    	display: block;
    	padding-left: 10px;
	}
}

.whos-online-session-detail{
	.detail-line{
		.icon{
			font-size: 15px;
    		padding-right: 5px;
		}
	}
}