<div class="conversation-wrapper section-container new-thread" ng-controller="newThreadCtrl as vm">

	<div class="section-header thread-reply-title-wrapper">
		<div class="section-title-wrapper">
			<div class="section-title"><i class="fas fa-arrow-alt-circle-left" ng-click="vm.returnToBoard()"></i> Create New Thread</div>
		</div>
	</div>

	<div class="section-body thread-reply-body">
		<div class="conversation-new-subject-wrapper col-xs-12">
			<div class="form-group conversation-subject">
				<span class="col-sm-1"><label for="thread-title">Thread Title: </label></span>
				<input ng-disabled="vm.preview" type="text" name="thread-title" id="thread-title" class="form-control small-input col-sm-11" ng-model="vm.newThread.name" tab-index="0"/>
			</div>
			
			<div class="form-group zfgc-combobox-wrapper">
				<span class="col-sm-1"><label for="thread-icon">Icon: </label></span>
				<combobox id="thread-icon" ng-model="vm.conversation.threadIconId" class="col-sm-2" tab-index="1">
					<combobox-item id-value="0" text-value="test">
						<span class="thread-icon-item">
							<span class="thread-icon-text">test</span> <img src="http://zfgc.com/forum/Themes/midnight/images/post/xx.gif"/></combobox-item>
						</span>
				</combobox>

			</div>
			
		</div>

		<message-editor vm="vm" ng-model="vm.newThread.posts[0].content[0].postData" ng-if="!vm.preview"></message-editor>
		<div ng-if="vm.preview" class="preview-wrapper">
			<div class="preview-content">
				<div ng-bind-html="vm.previewThread.posts[0].content[0].body"></div>
			</div>
		</div>
		
		<div class="message-buttons-wrapper">
			<button class="btn btn-confirm" ng-click="vm.postThread()">Post</button>
			<button class="btn btn-def" ng-click="vm.previewThread()" ng-if="!vm.preview">Preview</button>
			<button class="btn btn-def" ng-click="toggleReplyBox()">Cancel</button>
		</div>
	</div>
</div>
