<div ng-controller="PmSendCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title">Send Personal Message</div>
			</div>
		</div>
	
	
		<div class="section-body">
			<div class="row">
				<div class="col-xs-12">
					
				</div>
			</div>
		
			<form>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<div class="col-xs-12">
	
								<label>Search for members</label>
								<input type="text"
									   ng-model="vm.searchTerm"
									   class="form-control small-input"
									   ng-change="vm.searchForUsers(vm.searchTerm,vm.currentIndex,10)"
									   />
						</div>
						<div class="col-xs-12">
							<div infinite-scroll="vm.searchForUsers(vm.searchTerm,vm.currentIndex,10)" 
								 infinite-scroll-distance='1' 
								 infinite-scroll-parent="true" 
								 class="inf-scroll-wrapper">
								<div ng-repeat="user in vm.users" class="inf-scroll-result">
									<div class="inf-scroll-object" ng-click="vm.addUserToList(user.usersId)">
										<div class="user-search-wrapper">
											<img ng-src="{{vm.getAvatarUrl(user)}}"/>
											{{user.displayName}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-8 col-xs-12">
						<span ng-repeat="($index, user) in vm.personalMessage.receivers track by $index" class="user-name-text-icon col-xs-6 col-sm-4 col-md-2">
							<span ng-click="vm.removeUserFromList($index)">X</span> <span>{{user.displayName}}</span>
						</span>
					</div>
					<div class="col-md-8 col-xs-12">
						<label>Subject</label>
						<input ng-model="vm.personalMessage.subject" type="text" class="form-control small-input"/>
					</div>
					<div class="col-md-8 col-xs-12">
						<form>
							<div class="message-text-area">
								<div class="button-section-wrapper">
									<div class="col-xs-12">
										<button class="btn btn-editor" title="Bold" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.bold)">B</button>
										<button class="btn btn-editor" title="Italic" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.italic)">I</button>
										<button class="btn btn-editor" title="Underline" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.underline)">U</button>
										<button class="btn btn-editor" title="Strikethrough" ng-click="vm.insertShortcut(vm.getConstants().bbCodes.strikethrough)">S</button>
										<span></span>
										<button class="btn btn-editor" title="Left Justify"><span class="fa fa-align-left"></span></button>
										<button class="btn btn-editor" title="Center"><span class="fa fa-align-center"></span></button>
										<button class="btn btn-editor" title="Right Justify"><span class="fa fa-align-right"></span></button>
										<span></span>
										<button class="btn btn-editor" title="Ordered List"><span class="fa fa-list-ol"></span></button>
										<button class="btn btn-editor" title="Unordered List"><span class="fa fa-list-ul"></span></button>
									</div>
									<div class="col-xs-12">
										<button class="btn btn-editor" title="Youtube Link"><span class="fa fa-youtube"></span></button>
										<button class="btn btn-editor" title="Email"><span class="fa fa-envelope-o"></span></button>
										<button class="btn btn-editor" title="Image"><span class="fa fa-file-picture-o"></span></button>
										<button class="btn btn-editor" title="Spoiler"><span class="fa fa-exclamation-triangle"></span></button>
										<button class="btn btn-editor" title="Hyperlink"><span class="fa fa-external-link"></span></button>
										<button class="btn btn-editor" title="FTP Link"><span class="fa fa-file-o"></span></button>
									</div>
								</div>
								<textarea ng-model="vm.personalMessage.message" 
										  class="form-control" 
										  rows="10"
										  ng-focus="vm.getLastCursorPos()"
										  ng-change="vm.getLastCursorPos()"/>
							</div>
							<div class="xl-button-wrapper">
								<button type="button" class="btn btn-save col-xs-12" ng-click="vm.sendPm()">Send</button>
							</div>
						</form>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>