<div ng-controller="ConversationCtrl as vm">
	<div class="section-container">
		<div class="section-header">
			<div class="section-title-wrapper">
				<div class="section-title">Start Conversation</div>
			</div>
		</div>
	
	
		<div class="section-body">
			<div class="row conversation-wrapper">
				<form>
					<div class="conversation-new-subject-wrapper col-xs-12">
						<div class="conversation-subject">
							<label>Subject: </label>
							<input type="text" class="form-control small-input" ng-model="vm.conversation.subject"/>
						</div>
					</div>
				</form>
				<div class="conversation-participants-wrapper col-xs-12">
					<label class="conversation-participants-label">Participants:</label> 
					<span class="conversation-participants">
						<user-name-icon ng-repeat="($index, participant) in vm.participants | limitTo : 6" 
									    users-id="participant.usersId" 
									    vm="vm"
									    display-name="participant.displayName"></user-name-icon>
						<span ng-click="vm.openAddUserModal()"><i class="fas fa-user-plus" title="Add User"></i></span>
						<div ng-click="vm.openParticipantsModal()" ng-if="vm.conversation.participants.length > 6">And {{vm.conversation.participants.length - 6}} more...</div>
					</span>
				</div>
			</div>
		
			<message-editor ng-model="vm.test" show-reply-box="true" conversation="vm.conversation" vm="vm"></message-editor>
		</div>
	</div>
</div>