<div class="modal-wrapper">
	<div class="modal-header">
		<h2>Invite User</h2>
	</div>
	<div class="modal-body">
		<form>
			<div class="col-xs-12">
				<user-search ng-model="vm.searchTerm" on-select="vm.addUser"/> 
			</div>
			<span class="user-select-area">
				<div class="user-select-wrapper col-xs-12" ng-repeat="($index,user) in vm.usersToAdd track by $index">
					<span ng-click="vm.removeUser($index)">X</span>
					<span><img ng-src="{{vm.getAvatar(user.avatar)}}"/><span class="user-name">{{user.displayName}}</span></span>
				</div>
			</span>
		</form>
	</div>
	<div class="modal-footer">
		<span class="modal-button-wrapper">
			<button class="btn btn-confirm" ng-if="vm.conversationId !== null" ng-click="vm.inviteUsers()">Invite</button>
			<button class="btn btn-confirm" ng-if="vm.conversationId === null" ng-click="vm.addUsers()">Add</button>
			<button class="btn btn-def" ng-click="$dismiss()">Cancel</button>
		</span>
	</div>
</div>
