<div class="modal-wrapper">
	<div class="modal-header">
		<h2>Prune Conversations</h2>
	</div>
	<form>
		<div class="modal-body">
			<div class="row form-control-wrapper">
				<div class="col-xs-12">
					<input type="radio" ng-model="vm.prune.pruneFlag" ng-value="true"/> <label>Prune</label>
					<input type="radio" ng-model="vm.prune.pruneFlag" ng-value="false"/> <label>Archive</label>
				</div>
			</div>
			<div class="row form-control-wrapper">
				<div class="col-xs-12">
					<label>Delete older than...</label>
				</div>
				<div class="col-xs-4">
					<date-selector ng-model="vm.prune.olderThanDtAsString">
				</div>
			</div>
			<div class="row form-control-wrapper">
				<div class="col-xs-12">
					<label>Delete inactive longer than...</label>
				</div>
				<div class="col-xs-4">
					<date-selector ng-model="vm.prune.inactiveForDtAsString">
				</div>
			</div>
			<div class="row form-control-wrapper">
				<div class="col-xs-12">
					<label>Delete all started by user...</label>
				</div>
				<user-search class-list="col-xs-4" ng-model="vm.prune.deleteStartedUserId"></user-search>
			</div>
			<div class="row form-control-wrapper">
				<div class="col-xs-12">
					<input type="checkbox" ng-model="vm.prune.startedByMeFlag"/>
					<label>Delete all started by me.</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<span class="modal-button-wrapper">
				<button class="btn btn-critical" ng-click="vm.pruneConvos()">Prune</button>
				<button class="btn btn-def" ng-click="$dismiss()">Cancel</button>
			</span>
		</div>
	</form>
</div>
