<div class="modal-wrapper">
	<div class="modal-header">
		<h2>Conversation Participants</h2>
	</div>
	<div class="modal-body">
		<form>
			<span class="user-select-area">
				<div class="user-select-wrapper col-xs-12" ng-repeat="($index,user) in vm.conversation.participants track by $index">
					<span class="user-remove" ng-click="vm.removeUser($index)">X</span>
					<span><img ng-src="{{vm.getAvatar(user.avatar)}}"/><span class="user-name">{{user.displayName}}</span></span>
				</div>
			</span>
		</form>
	</div>
	<div class="modal-footer">
		<span class="modal-button-wrapper">
			<button class="btn btn-def" ng-click="$dismiss()">Close</button>
		</span>
	</div>
</div>