<div class="modal-wrapper modal-fade">
	<div class="modal-header">
		<h2>
			<span class="error-icon">
				<i class="fas fa-exclamation-circle"></i>
			</span>
			Validation Error
		</h2>
	</div>
	<form>
		<div class="modal-body">
			<div ng-if="vm.checkHasRequiredFields()">
				<ol>
					<li ng-repeat="error in vm.requiredFields()">{{error.errorMessage}}</li>
				</ol>
			</div>
			<div ng-if="vm.checkHasValidation()">
				<ol>
					<li ng-repeat="error in vm.validation()">{{error.errorMessage}}</li>
				</ol>
			</div>
			<div ng-if="vm.checkHasRules()">
				<ol>
					<li ng-repeat="error in vm.rules()">{{error.errorMessage}}</li>
				</ol>
			</div>
		</div>
		<div class="modal-footer">
			<span class="modal-button-wrapper">
				<button class="btn btn-def" ng-click="$dismiss()">Ok</button>
			</span>
		</div>
	</form>
</div>