<div class="modal-wrapper">
	<div class="modal-header">
		<h2>Invite User</h2>
	</div>
	<div class="modal-body">
		<form>
			<div class="col-xs-12">
				<user-search ng-model="vm.searchTerm"/> 
			</div>
			<span class="user-select-area">
				<div class="user-select-wrapper col-xs-12">
					<input type="checkbox"/>
					<span><img src="http://zfgc.com/forum/index.php?action=dlattach;attach=12126;type=avatar"/><span class="user-name">MG-Zero</span></span>
				</div>
			</span>
		</form>
	</div>
	<div class="modal-footer">
		<span class="modal-button-wrapper">
			<button class="btn btn-confirm" ng-click="vm.addUsers()">Invite</button>
			<button class="btn btn-def" ng-click="$dismiss()">Cancel</button>
		</span>
	</div>
</div>
