<div class="section-container" x-ng-controller="PasswordResetRequestCtrl as vm">
	<div class="section-header">
		<div class="section-title-wrapper">
			<div class="section-title">Login Help</div>
			<div class="subsection-title">Password Reset Request</div>
		</div>
	</div>
	<div class="section-body">
		<div class="row padded">
			<label class="col-xs-12">Forgot your password? No problem! Just tell us your login name and we'll send you a reset email.</label>
			<form>
				<div class="form-group col-xs-12">
					<label>Username</label>
					<input ng-model="vm.userName" type="text" type="text" class="form-control"/>
				</div>
				
				<div class="form-group col-xs-12">
			  		<button ng-click="vm.submitRequest()" type="button" class="btn btn-confirm">Submit</button>
			  	</div>
			</form>
		</div>
	</div>
</div>