<div class="section-container" x-ng-controller="PasswordResetRequestCtrl as vm">
	<div class="section-header">
		<div class="section-title-wrapper">
			<div class="section-title">Login Help</div>
			<div class="subsection-title">Password Reset Request</div>
		</div>
	</div>
	<div class="section-body">
		<div class="row padded">
			<label class="col-xs-12">Forgot your password? No problem! Just tell us your login name and we'll send you a reset email.</label>
			<div class="success-text padded" ng-if="vm.responseReceived">
				<i class="fas fa-check-circle"></i> Your request was received! If we found a user named {{vm.userName}}, we'll send an email to the address we have on file.
			</div>
			<div class="error-text padded" ng-if="vm.responseError">
				<i class="fas fa-exclamation-triangle"></i> We're sorry, something went wrong while resetting your password. Please contact an administrator for assistance or feel free to try again.
			</div>
			<form>
				<div class="form-group col-xs-12">
					<label>Username</label>
					<input ng-model="vm.userName" type="text" type="text" class="form-control"/>
				</div>
				
				<div class="form-group col-xs-12">
			  		<button ng-click="vm.submitRequest()" type="button" class="btn btn-confirm">Submit</button>
			  	</div>
			</form>
		</div>
	</div>
</div>