<div class="section-container" x-ng-controller="PasswordResetCtrl as vm">
	<div class="section-header">
		<div class="section-title-wrapper">
			<div class="section-title">Login Help</div>
			<div class="subsection-title">Password Reset</div>
		</div>
	</div>
	<div class="section-body">
		<div class="row padded">
			<label class="col-xs-12" ng-if="!vm.errorReceived">Hey {{vm.key.displayName}}! Please enter your new password.</label>
			<div class="error-text padded"  ng-if="vm.errorReceived">
				<i class="fas fa-exclamation-triangle"></i> Hmm, something went wrong. Try again in a few minutes or contact a staff member for help.
			</div>
			<div class="success-text padded" ng-if="vm.responseReceived">
				<i class="fas fa-check-circle"></i> Your password was reset successfully. You may now log in.
			</div>
			<form ng-if="!vm.errorReceived">
				<div class="form-group col-xs-12">
					<label>Password</label>
					<input ng-model="vm.key.newPassword" type="password" class="form-control"/>
				</div>
				
				<div class="form-group col-xs-12">
			  		<button ng-click="vm.submitRequest()" type="button" class="btn btn-confirm">Submit</button>
			  	</div>
			</form>
		</div>
	</div>
</div>