<!DOCTYPE html>
<html ng-app="zfgc">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Cache-control" content="public">
    
  <title>zfgc3</title>
  
  <base href="/forum/"/>
 
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">
  <!-- inject:css -->
  <link rel="stylesheet" href="node_modules/angularjs-datepicker/dist/angular-datepicker.css?b=1566531378947">
  <link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog.css?b=1566531378947">
  <link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog-theme-default.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/bbcodes.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/buttons.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/calendar.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/convobox.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/datepicker.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/dropdowns.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/forms.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/forum.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/global.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/icons.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/listview.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/members.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/modal.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/nav.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/pagination.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/paginator.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/pm.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/popovers.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/tables.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/users.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/whosonline.css?b=1566531378947">
  <link rel="stylesheet" href="assets/dist/themes/midnight.css?b=1566531378947">
  <!-- endinject -->
  
</head>
<body class="midnight">
  <div class="main-wrapper">
	  <left-panel></left-panel>
	  
	  <span class="alerts-container" ng-controller="NotificationsCtrl as vm">
	  	<div uib-alert ng-repeat="(index,alert) in vm.alerts track by index" close="vm.closeAlert(index)" dismiss-on-timeout="5000">
	  		<div class="toast-wrapper" ng-class="{'toast-success' : alert.type === 'success', 'toast-error' : alert.type === 'error'}" ng-cloak>
    			<div class="toast-icon" ng-click="vm.closeAlert(index)">
    				<i ng-if="alert.type === 'success'" class="fas fa-check-circle"></i>
    				<i ng-if="alert.type === 'error'" class="fas fa-times-circle"></i>
    			</div>
   			 	<span class="toast-text">{{alert.message}}</span>
			</div>
		</div>
	  </span>
		  
		
	  <div class="container" ng-controller="MainCtrl as vm">
	    <div>
		  	<zfgc-header></zfgc-header>
		  	<div class="zfgc-application" ui-view ng-style="{'display' : vm.hideContainer === true ? 'none' : 'block'}"></div>
		  	<whos-online></whos-online>
		  	<div class="mobile-nav-wrapper">
		  		<div class="mobile-nav">
		  			<div class="mobile-nav-item">
		  				<a ui-sref="forum">
		  					<i class="fas fa-dungeon"></i>
		  				</a>
		  			</div>
		  			<div class="mobile-nav-item">
		  				<a ui-sref="members">
		  					<i class="fas fa-users"></i>
		  				</a>
		  			</div>
		  			<div class="mobile-nav-item">
		  				<a ui-sref="calendar">
		  					<i class="fas fa-calendar-alt"></i>
		  				</a>
		  			</div>
		  		</div>
		  	</div>
	    </div>
	   </div>
   </div>
  
  <!-- inject:js -->
  <script src="node_modules/angular/angular.js?b=1566531378947"></script>
  <script src="node_modules/angular-animate/angular-animate.js?b=1566531378947"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.js?b=1566531378947"></script>
  <script src="node_modules/angular-recaptcha/release/angular-recaptcha.js?b=1566531378947"></script>
  <script src="node_modules/angular-resource/angular-resource.js?b=1566531378947"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.js?b=1566531378947"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js?b=1566531378947"></script>
  <script src="node_modules/angular-ui-router/release/angular-ui-router.js?b=1566531378947"></script>
  <script src="node_modules/angularjs-datepicker/dist/angular-datepicker.js?b=1566531378947"></script>
  <script src="node_modules/jquery/dist/jquery.js?b=1566531378947"></script>
  <script src="node_modules/ng-dialog/js/ngDialog.js?b=1566531378947"></script>
  <script src="node_modules/ng-infinite-scroll/build/ng-infinite-scroll.js?b=1566531378947"></script>
  <script src="node_modules/sockjs-client/dist/sockjs.min.js?b=1566531378947"></script>
  <script src="node_modules/stomp-websocket/lib/stomp.min.js?b=1566531378947"></script>
  <script src="node_modules/tether/dist/js/tether.js?b=1566531378947"></script>
  <script src="scripts/forum/forum.module.js?b=1566531378947"></script>
  <script src="scripts/directives/forms/user-search/user-search.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/forms/message-editor/message-editor.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/forms/date-selector/date-selector.directive.js?b=1566531378947"></script>
  <script src="scripts/vendor/jstz/jstz.min.js?b=1566531378947"></script>
  <script src="scripts/users/whos-online/whos-online.service.js?b=1566531378947"></script>
  <script src="scripts/users/users.module.js?b=1566531378947"></script>
  <script src="scripts/users/member-search/member-listing.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/pm.module.js?b=1566531378947"></script>
  <script src="scripts/pm/pmTwoFactor/pm-two-factor.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/convobox/convoBox.service.js?b=1566531378947"></script>
  <script src="scripts/pm/convobox/convoBox.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/conversation/remove-user-modal.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/conversation/prune-convo-modal.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/conversation/conversation.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/conversation/add-user-modal.controller.js?b=1566531378947"></script>
  <script src="scripts/directives/whos-online/whos-online.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/user-name-icon/user-name-icon.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/user-details/user-details.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/paginator/paginator.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/list-view/list-view.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/left-panel/left-panel.directive.js?b=1566531378947"></script>
  <script src="scripts/calendar/calendar.module.js?b=1566531378947"></script>
  <script src="scripts/directives/event-list/event-list.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/collapsible-widget/collapsible-widget.directive.js?b=1566531378947"></script>
  <script src="scripts/directives/avatar-gallery/avatar-gallery.directive.js?b=1566531378947"></script>
  <script src="scripts/common/header/zfgc-header.directive.js?b=1566531378947"></script>
  <script src="scripts/whos-online/online.module.js?b=1566531378947"></script>
  <script src="scripts/users/users.service.js?b=1566531378947"></script>
  <script src="scripts/users/users.controller.js?b=1566531378947"></script>
  <script src="scripts/users/user-title-card.controller.js?b=1566531378947"></script>
  <script src="scripts/users/registration.controller.js?b=1566531378947"></script>
  <script src="scripts/users/activation.controller.js?b=1566531378947"></script>
  <script src="scripts/sockets/web-socket.service.js?b=1566531378947"></script>
  <script src="scripts/searches/userSearches.service.js?b=1566531378947"></script>
  <script src="scripts/searches/searches.controller.js?b=1566531378947"></script>
  <script src="scripts/potm/potm.module.js?b=1566531378947"></script>
  <script src="scripts/pm/pmSend.controller.js?b=1566531378947"></script>
  <script src="scripts/pm/pmComparator.service.js?b=1566531378947"></script>
  <script src="scripts/pm/pm.service.js?b=1566531378947"></script>
  <script src="scripts/notifications/notifications.module.js?b=1566531378947"></script>
  <script src="scripts/notifications/notifications.service.js?b=1566531378947"></script>
  <script src="scripts/notifications/notifications.controller.js?b=1566531378947"></script>
  <script src="scripts/modal/modal.service.js?b=1566531378947"></script>
  <script src="scripts/modal/modal.controller.js?b=1566531378947"></script>
  <script src="scripts/lookups/lookups.service.js?b=1566531378947"></script>
  <script src="scripts/interceptor/interceptor.service.js?b=1566531378947"></script>
  <script src="scripts/forum/forum.service.js?b=1566531378947"></script>
  <script src="scripts/forum/forum.controller.js?b=1566531378947"></script>
  <script src="scripts/forum/forum-post.service.js?b=1566531378947"></script>
  <script src="scripts/forms/forms.controller.js?b=1566531378947"></script>
  <script src="scripts/filters/range.filter.js?b=1566531378947"></script>
  <script src="scripts/error/error.module.js?b=1566531378947"></script>
  <script src="scripts/common/server-config.service.js?b=1566531378947"></script>
  <script src="scripts/common/main.controller.js?b=1566531378947"></script>
  <script src="scripts/calendar/calendar.service.js?b=1566531378947"></script>
  <script src="scripts/calendar/calendar-view.controller.js?b=1566531378947"></script>
  <script src="scripts/ui-bootstrap-tpls.js?b=1566531378947"></script>
  <script src="scripts/app.js?b=1566531378947"></script>
  <script src="scripts/app.config.js?b=1566531378947"></script>
  <!-- endinject -->
  
<!--<script src="https://use.fontawesome.com/35c5c0a135.js"></script>-->
<!--<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
</body>
</html>